*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/image/Shopping.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.from-box{
    width: 500px;
    background: rgb(7, 3, 41, 0.8);
    margin: 12% auto;
    padding: 50px 0;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 2px #030726;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid rgb(5, 5, 5);
    padding-top: 10px;
    padding-bottom: 5px;
}
.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
::placeholder{
    color: #ccc;
}
.fa-duotone{
    margin-right: 10px;
}
.eye{
    position: absolute;
    
}
#hide1{
    display: none;
}
.login-button{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}