/* Start Variables */
:root{
    --main-color:#19c8fa;
    --transparend-color:rgb(15 116 143 / 50%) ;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
    
    --border-size: 1px;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 5px;


}
/* End Variables */
/*  Stert  Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #2F387D; */
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/*  End Global Rules */
/* Start Components */
.main-title {
    text-transform: uppercase;
    margin: 0px auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
/* End Components */
/* Start Header */
header{
    background-color: rgba(0, 0, 0, 0.7);
    position:fixed;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 97px;
}
header .container::before{
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 15px;
}
header .icons a{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
header .icons a:hover{
    color: var(--main-color);
}
header .list{
    display: flex;
    flex-direction: row;
    
}
header .wrapper{
    /* position: fixed; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    margin-right: 10px;
}

header .wrapper a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 35px; */
    font-size: 15px;
    font-weight: bold;
    /* font-family: sans-serif; */
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    /* letter-spacing: 2px; */
    /* text-align: center; */
    font-family: 'Cairo', sans-serif;
    padding: 10px 20px;
    position: relative;
    transition: all .35s;
  }
  
  header .wrapper a span{
    position: relative;
    z-index: 2;
  }
  
  header .wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    background: var(--main-color);
    transition: all .35s;
  }
  
  header .wrapper a:hover{
    color: rgb(0, 0, 0);
    border: transparent;
  }
  
 header .wrapper a:hover:after{
    width: 100%;
  }

/* header .icons button{
    display: block;
    padding: 5px 15px;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    transition: all .35s;
} 
header .icons button:hover{
    background-color: var(--main-color);
    color: white;
}  */
header .container .logo img{
    height: 80px;
    margin-left: 40px;
}
header .container .logo i{
    font-size: 50px;
    color: white;
    margin-left: 40px;
}
.search{
    position: relative;
    left: 20px;
    
}
.searchbox:focus{
    border-color: var(--main-color);
    outline: 0;
    width: 200px;
    -webkit-transition: width 0.2s ease-in 0.2s;
    transition: width 0.2s ease-in 0.2s;
    box-shadow: 0 0 4px .5px var(--main-color);

}
.searchbox{
    -webkit-transition: width 0.2s ease-in 0.2s;
            transition: width 0.2s ease-in 0.2s;
    position: relative;
    width: 85px;
    height: 30px;
    float: left;
    margin:0;
    padding: 0 35px 0 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: none;
    color: #555;
}
.search-btn-wrap{

    position: absolute;
    right: 0;
}

.search-btn{
    cursor: pointer;
    font-size: 16px;
    margin-top: 2px;
    margin-right: 2px;
    z-index: 3;
    height: 26px;
    width: 30px;
    border: 0;
    margin-bottom: 0;
    color: #CCC;
    background: transparent;
}
header h1{
    color: white;
    position: absolute;
    left: 500px;
    /* margin-left: 300px; */
    letter-spacing: 2px;
    /* font-size: 20px; */
    font-family: 'Playball', cursive;
}
header h1:hover{
    text-shadow:  .5px 0 20px #19c8fa;
}

header  nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
header  nav .toggle-menu{
    color: white;
    font-size: 22px;
}
@media (min-width: 768px){
    header  nav .toggle-menu{
        display: none;
    }
}
header .container nav ul{
    display: flex;
}
@media (max-width:767px){
    header .container nav ul{
        display: none;
    }
    header nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header nav .toggle-menu:hover + ul li a {
        padding: 15px;
    }
}
header .container nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    padding: 37px 20px ;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
header nav ul  li a.active,
header nav ul  li a:hover {
    color: var(--main-color);
    border-bottom: solid 1px var(--main-color); 
}
header nav .from {
    position: relative;
    border-left: 1px solid white;
    margin-left: 30px;
    width: 40px;
    height: 30px;
}
header nav .from i {
    color: white;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 20px;
}

/* End Header */
/* Start Landing */
.landing{
    
    min-height: 58vh;
    background-color: black;
    background-image: url(../../../image/background.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0 / 90%);
}
.landing h1{
    color: white;
    position: absolute;
    font-size: 70px;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    font-family: 'Cairo', sans-serif;
}
/*End Landing */
/*Start Control */
.control{
    direction: rtl;
    position: relative;
}
.control .container{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
}
.control .wrapper{
    /* position: fixed; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    margin: 10px 5px;
}

.control .wrapper a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    font-family: 'Cairo', sans-serif;
    position: relative;
    transition: all .35s;
}
.control .wrapper a span{
    position: relative;
    z-index: 2;
    padding-right: 10px;
}
.control .wrapper a i{
    position: relative;
    z-index: 2;
}
.control .wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* border: 2px solid transparent; */
    background: var(--main-color);
    transition: all .35s;
}
.control .wrapper a:hover{
    color: rgb(0, 0, 0);
    border: transparent;
}
.control .wrapper a:hover:after{
    width: 100%;
}

/*End Control */
/* Start Stats */
.stats {
    direction: rtl;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-image: url("../../../image/background.jpg");
    background-size: cover;
    /* background-color: red; */
    min-height: 300px;
  }
  .stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 80%);
  }
  .stats h2 {
    font-weight: bold;
    font-size: 25px;
    
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
    /* font-family: 'Cairo', sans-serif; */

  }
  .stats h2:hover{
    border-color: transparent;
    /* color: black; */
  }
  .stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  .stats .box {
    font-family: 'Cairo', sans-serif;
color: #fff;
    background-color: black;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    opacity: 0.8;
    transition: var(--main-transition);
  }
  .stats .box::before,
  .stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    transition: 1s;
    height: 0;
  }
  .stats .box::before {
    top: 0;
    right: 0;
  }
  .stats .box::after {
    left: 0;
    bottom: 0;
  }
  .stats .box:hover {
    opacity: 1;
  }
  .stats .box:hover::before,
  .stats .box:hover::after {
    height: 100%;
  }
  .stats .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .stats .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
  }
  /* End Stats */
/* Start calegory */
.calegory {
    direction: rtl;
    background-image: url("../../../image/background.jpg");
    background-size: cover;
    /* text-align: center; */
    position: relative;
    padding-bottom: var(--main-padding-bottom);
    padding-top: 50px;
    z-index: 1;
}
.calegory::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 80%);
    z-index: -1;
  }
  .calegory h2:hover{
      border-color: transparent;
  }
.calegory .table-wrapper{
    /* margin: 50px 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
}

.calegory .fl-table {
    border-radius: 5px;
    font-size: 16px;
    /* font-weight: bold; */
    border: none;
    border-collapse: collapse;
    width: 1000px;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}
.calegory .multi-button {
    display: flex;
    align-items: center;
    width: 50%;
    box-shadow: var(--shadow) 4px 4px;
}
.calegory .fl-table  .as12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calegory .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
}
.calegory .multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
}
.calegory .multi-button button:hover,
.calegory .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
}
.calegory .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
}
.calegory .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
}
.calegory .multi-button button:active {
    transform: translateY(var(--border-size));
}
.calegory .fl-table td, .fl-table th {
    text-align: center;
    padding: 15px;
}

.calegory .fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
    font-weight: 600;
}

.calegory .fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.calegory .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.calegory .fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.calegory .data-search{
    direction: rtl;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: #232931; */
    font-family: "roboto", cursive;
}
.calegory .input-group{
    display: flex;
    border-radius:7px;
    overflow: hidden;
}
.calegory .form-control, .btn{
    height:50px;
    width: 80px;
    border: none;
    outline:none;
    font-size: 1em;
    font-weight: bold;
    /* padding: 0 7spx; */
    background: #324960;
    transition: .3s ease;
    color: var(--main-color);
}

.calegory input.form-control{
    width: 350px;
    padding: 20px;
}
.calegory .btn{
    background-color: #4ecca3;
    cursor:pointer;
    color:white;
}

.calegory .btn:hover{
    color:#232931;
    box-shadow: inset 0 0 100px rgba(255,255,255,.2);
}
  
.calegory .form-control::placeholder{
    color: #fff;
    
}
.calegory .head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
/* End calegory */
/* Start User */
.user {
    direction: rtl;
    background-image: url("../../../image/background.jpg");
    background-size: cover;
    /* text-align: center; */
    position: relative;
    padding-bottom: var(--main-padding-bottom);
    padding-top: 50px;
    z-index: 1;
}
.user::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 80%);
    z-index: -1;
}
.user h2:hover{
    border-color: transparent;
}
.user .table-wrapper{
    /* margin: 50px 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
}

.user .fl-table {
    border-radius: 5px;
    font-size: 16px;
    /* font-weight: bold; */
    border: none;
    border-collapse: collapse;
    width: 1000px;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}
.user .multi-button {
    display: flex;
    align-items: center;
    width: 100%;
    /* box-shadow: var(--shadow) 4px 4px; */
}
.user .fl-table  .as12 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.user .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
}
.user .multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
}
.user .multi-button button:hover,
.user .multi-button button:focus {
    flex-grow: 5;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: black;
    border: var(--border-size) solid transparent;

}
.user .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
}
.user .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
}
.user .multi-button button:active {
    transform: translateY(var(--border-size));
}
.user .fl-table td, .fl-table th {
    text-align: center;
    padding: 15px;
}
.user .fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
    font-weight: 600;
}

.user .fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}
.user .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}
.user .fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.user .data-search{
    direction: rtl;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: #232931; */
    font-family: "roboto", cursive;
}
.user .input-group{
    display: flex;
    border-radius:7px;
    overflow: hidden;
}
.user .form-control, .btn{
    height:50px;
    width: 80px;
    border: none;
    outline:none;
    font-size: 1em;
    font-weight: bold;
    /* padding: 0 7spx; */
    background: #324960;
    transition: .3s ease;
    color: var(--main-color);
}

.user input.form-control{
    width: 350px;
    padding: 20px;
}
.user .btn{
    background-color: #4ecca3;
    cursor:pointer;
    color:white;
}

.user .btn:hover{
    color:#232931;
    box-shadow: inset 0 0 100px rgba(255,255,255,.2);
}
  
.user .form-control::placeholder{
    color: #fff;
    
}
.user .head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
/* End User */
/* Start Admin */
.admin{
    background-image: url("../../../image/background.jpg");
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}
.admin::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
}
.admin h2:hover{
    border-color: transparent;
}
.admin .box .container{
    /* position: relative; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin .box .from-box{
    /* z-index: 1;*/
    direction: rtl;
    /* width: 500px; */
    /* background-color: rgba(0, 0, 0, 0.7);  */
    /* position: absolute;
    left:50%;
    top: 90%; */
    /* margin: 12% auto; */
    /* margin-top: 50px;
    padding: 20px 0;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px .5px #19c8fa; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}
/*
.admin .box h1{
    text-align: center;
    margin-bottom: 40px;
}
.admin .input-box{
     margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 5px; 
    border-radius:5px;
    overflow: hidden;
}
.admin .input-box input{
     width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff; 
    width: 300px;
    padding: 10px 20px;
    border-color: transparent;
    background-color: #324960;
}
.admin ::placeholder{
        color: black;
}

.admin .login-button{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid black;
    cursor: pointer;
    background: transparent;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.admin .login-button:hover{
    background-color: #19c8fa;
    color: white;
    border-color: transparent;
}
*/
/* b?? */
.admin .wrapper{
    /* position: fixed; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    margin-top: 50px;
    margin-right: 10px;
}

.admin .wrapper a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 35px; */
    font-size: 15px;
    font-weight: bold;
    /* font-family: sans-serif; */
    text-decoration: none;
    color: black;
    border: 1px solid black;
    /* letter-spacing: 2px; */
    /* text-align: center; */
    font-family: 'Cairo', sans-serif;
    padding: 10px 20px;
    position: relative;
    transition: all .35s;
  }
  
  .admin .wrapper a button span{
    position: relative;
    z-index: 2;
  }
  
  .admin .wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    
    background: var(--main-color);
    transition: all .35s;
  }
  
  .admin .wrapper a:hover{
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
  }
  
  .admin .wrapper a:hover:after{
    width: 100%;
  }


.admin .page{
    margin: 20px;
    
}
.admin .img1{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin .img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding:10px;
    width: 50%;
    height: 50%;
    border:1px solid black;
    
    /* background-color: #19c8fa; */
}

.admin .img:hover{
    color: white;
    background-color: var(--main-color);
    border-color: transparent;
}
.admin .img input{
    display: none;  
}
.admin .img label{
    cursor:pointer; 
    font-size: 15px; 
    font-weight: bold;
}
.admin .field__input{ 
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
    
    background-color: transparent;
    border-radius: 0;
    border: none;
  
    -webkit-appearance: none;
    -moz-appearance: none;
  
    font-family: inherit;
    font-size: inherit;
    /* font-weight: bold; */
  }
  
  .admin .field__input:focus::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.671);
    font-size: 13px;
  }
  
  .admin .field__input:focus::-moz-placeholder{
    color: rgba(0, 0, 0, 0.671);
    font-size: 13px;
  }
  
  .admin .field{
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));
  
    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
  }
  
  .admin .field__input{
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .50));  
  }
  
  .admin .field__input:focus{
    outline: none;
  }
  
  .admin .field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  
  .admin .field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  
  .admin .field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .admin .field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .admin .field__label-wrap{
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;
    /* direction: rtl; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .admin .field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;
  
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .admin .field__input:focus ~ .field__label-wrap::after{
    opacity: 1;
  }
  
  .admin .field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .5em);
    /* font-size: 50px; */
  font-weight: 600;
    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);
  
    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;
  }
  
  .admin .field__input:focus ~  .field__label-wrap .field__label,
  .admin .field__input:not(:placeholder-shown) ~  .field__label-wrap .field__label{
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
  
    top: var(--fieldHintTopHover, .25rem);
  }
  .admin .field_v1 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transition: opacity .2s ease-out;
    will-change: opacity;
  }
  
/* End Admin */
/* Start footer */
.footer{
    background-image: url(../../../image/footer.jpg);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.footer::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0 / 75%);
}
.footer .container{
    position: relative;
    text-align: center;
}
.footer p{
    color: white;
}
.footer p span{
    color: var(--main-color);
    font-weight: bold;
    /* font-family: 'Open Sans', sans-serif; */
}
/* End footer */
/* Start Animation */
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 51%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 51%;
        height: 100%;
    }
}
  /* End Animation */